[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.25"
pillow = "==10.3.0"
whitenoise = "==5.1.0"
environs = {version = "==8.0.0", extras = ["django"]}
psycopg2-binary = "*"
gunicorn = "==22.0.0"
dj-static = "*"
simplejson = "*"

[dev-packages]

[requires]
python_version = "3.9"
